.flows_raspberrypi.json.backup
[{"id":"8d8c8038.84b19","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"becf181d.f3ffc8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"60c287f7.1e9c28","type":"tab","label":"Salone","disabled":false,"info":""},{"id":"375b6bc6.5dc324","type":"tab","label":"Cucina","disabled":false,"info":""},{"id":"872ecd7f.fbdd4","type":"websocket-listener","z":"","path":"/ws/home","wholemsg":"false"},{"id":"ff44dbc3.a19468","type":"ui_group","z":"","name":"Cucina","tab":"9ba34d7c.b3b6","disp":true,"width":"6","collapse":false},{"id":"64de1b70.586694","type":"ui_tab","z":"","name":"Salone","icon":"dashboard","order":1},{"id":"6a3ad82c.cd0bd8","type":"ui_group","z":"","name":"Salone","tab":"64de1b70.586694","disp":true,"width":"6","collapse":false},{"id":"b97b3651.b18778","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Home Control","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":4,"py":4}}},{"id":"9ba34d7c.b3b6","type":"ui_tab","z":"","name":"Cucina","icon":"dashboard","order":2},{"id":"c28b152.0454ee8","type":"ui_group","z":"","name":"Comandi Vocali","tab":"3e2afe34.f70042","disp":true,"width":"12","collapse":false},{"id":"3e2afe34.f70042","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":3},{"id":"b547bb93.4dd028","type":"websocket in","z":"8d8c8038.84b19","name":"","server":"872ecd7f.fbdd4","client":"","x":330,"y":260,"wires":[["c173b71d.874698","2dee109f.180c08","6871252b.37710c"]]},{"id":"c173b71d.874698","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"2d817cd6.e285b4","type":"ui_text_input","z":"becf181d.f3ffc8","name":"","label":"Nome Comando","group":"c28b152.0454ee8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":440,"y":320,"wires":[["251c58c2.a9fe58"]]},{"id":"251c58c2.a9fe58","type":"debug","z":"becf181d.f3ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":260,"wires":[]},{"id":"76bac1ab.4ad4d8","type":"inject","z":"8d8c8038.84b19","name":"off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["6871252b.37710c"]]},{"id":"51d2b126.7f41a8","type":"inject","z":"8d8c8038.84b19","name":"on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["eb74ef90.d868a8"]]},{"id":"ac2ca55f.00e26","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1180,"y":180,"wires":[]},{"id":"6871252b.37710c","type":"function","z":"8d8c8038.84b19","name":"on","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["a2c9880a.d57058","ac2ca55f.00e26"]]},{"id":"a2c9880a.d57058","type":"delay","z":"8d8c8038.84b19","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":20,"wires":[["544b4dee.e513f4"]]},{"id":"544b4dee.e513f4","type":"function","z":"8d8c8038.84b19","name":"off","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":60,"wires":[["ac2ca55f.00e26"]]},{"id":"8e992b9e.436438","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1030,"y":340,"wires":[]},{"id":"913f3d6c.66f71","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":1030,"y":460,"wires":[]},{"id":"50a1a8ac.6e9b18","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"OUT37","pin":"37","set":"","level":"0","freq":"","out":"out","x":1000,"y":540,"wires":[]},{"id":"2dee109f.180c08","type":"switch","z":"8d8c8038.84b19","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"faretti salone","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":260,"wires":[["eb74ef90.d868a8","fc4169f2.0f8d"]]},{"id":"eb74ef90.d868a8","type":"trigger","z":"8d8c8038.84b19","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"2","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":770,"y":260,"wires":[["ac2ca55f.00e26"]]},{"id":"fc4169f2.0f8d","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":320,"wires":[]},{"id":"a8f24c4b.54412","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Lampadaio Salone","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":120,"wires":[["df893976.c82c78"]]},{"id":"df893976.c82c78","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":140,"wires":[["7b9237eb.2052f"]]},{"id":"7b9237eb.2052f","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":860,"y":160,"wires":[]},{"id":"199f546e.8795a4","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":2,"width":"0","height":"0","passthru":false,"label":"Faretti Tavolo 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":100,"wires":[["2fe7e6ca.9df4f2"]]},{"id":"2fe7e6ca.9df4f2","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":140,"wires":[["43ab1cdc.ffee04"]]},{"id":"43ab1cdc.ffee04","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":780,"y":180,"wires":[]},{"id":"77f789b9.43d2d","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":3,"width":"0","height":"0","passthru":false,"label":"Faretti Tavolo 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":260,"wires":[["c1442f3e.113478"]]},{"id":"c1442f3e.113478","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":300,"wires":[["6bdec535.2475dc","538c8638.57679"]]},{"id":"6bdec535.2475dc","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":960,"y":300,"wires":[]},{"id":"48f8d175.26be4","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":820,"y":400,"wires":[["6bdec535.2475dc"]]},{"id":"538c8638.57679","type":"delay","z":"375b6bc6.5dc324","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":420,"wires":[["48f8d175.26be4"]]},{"id":"6b850ba4.9a885c","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":4,"width":"0","height":"0","passthru":false,"label":"Faretti Parete Tavolo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":500,"wires":[["88ebac15.a949c"]]},{"id":"88ebac15.a949c","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":550,"y":540,"wires":[["fb00181b.6c905"]]},{"id":"fb00181b.6c905","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":800,"y":580,"wires":[]},{"id":"565acfa5.c97958","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Faretti Salone ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":340,"wires":[["b7cbce20.b7ca"]]},{"id":"b7cbce20.b7ca","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":570,"y":380,"wires":[["fb85c592.cf1738"]]},{"id":"fb85c592.cf1738","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":820,"y":420,"wires":[]},{"id":"fa4c8cf1.0923a8","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Faretti TV ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":460,"wires":[["cf07fe43.c35"]]},{"id":"cf07fe43.c35","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":490,"y":500,"wires":[["ba9aeef6.64337","8c33f969.25f438"]]},{"id":"ba9aeef6.64337","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":920,"y":500,"wires":[]},{"id":"cbc6a8be.c03c98","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":780,"y":600,"wires":[["ba9aeef6.64337"]]},{"id":"8c33f969.25f438","type":"delay","z":"60c287f7.1e9c28","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":620,"wires":[["cbc6a8be.c03c98"]]},{"id":"6351e084.6ad7d8","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":1,"width":"0","height":"0","passthru":false,"label":"Lampadaio Cucina","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":640,"wires":[["4b33e706.7835e"]]},{"id":"4b33e706.7835e","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":700,"wires":[["1d99d411.70c7d4"]]},{"id":"1d99d411.70c7d4","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":780,"y":740,"wires":[]},{"id":"80985918.6a3838","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":560,"wires":[["7c72d4c.9390b2c"]]},{"id":"27e2756b.14938a","type":"function","z":"8d8c8038.84b19","name":"","func":"var require = global.get('require');\n\nvar gpio = require('rpi-gpio');\n\ngpio.write(37, false, function(err) {\n        if (err) throw err;\n        console.log('Written to pin');\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["fd86df54.1132c"]]},{"id":"4f0ccb5e.f01084","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["27e2756b.14938a"]]},{"id":"3e1c136c.42c04c","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":240,"y":680,"wires":[[]]},{"id":"f62b275b.5f2248","type":"function","z":"8d8c8038.84b19","name":"","func":"console.log(\"Started\")\nvar require = global.get('require');\n\nvar gpio = require('rpi-gpio');\n \ngpio.setup(37, gpio.DIR_HIGH, null);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[[]]},{"id":"fd86df54.1132c","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"7c72d4c.9390b2c","type":"function","z":"8d8c8038.84b19","name":"","func":"flow.set(\"pin\",37);\nmsg.payload=[37,msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["5a382660.63d158","2cabdf2e.ef7cb"]]},{"id":"cb9f7d95.096d7","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":640,"wires":[["7c72d4c.9390b2c"]]},{"id":"35520bbd.653fb4","type":"function","z":"8d8c8038.84b19","name":"","func":"msg.payload=[1,2]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":820,"wires":[["5a382660.63d158"]]},{"id":"5a382660.63d158","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","x":1040,"y":740,"wires":[]},{"id":"4c948c0b.ed6c44","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":860,"wires":[["35520bbd.653fb4"]]},{"id":"2cabdf2e.ef7cb","type":"mygpio-out","z":"8d8c8038.84b19","name":"","x":1110,"y":620,"wires":[]}]