flows_raspberrypi.json
[{"id":"8d8c8038.84b19","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"becf181d.f3ffc8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"60c287f7.1e9c28","type":"tab","label":"Salone","disabled":false,"info":""},{"id":"375b6bc6.5dc324","type":"tab","label":"Cucina","disabled":false,"info":""},{"id":"2b2d4d83.51fdc2","type":"tab","label":"Comandi Vocali","disabled":false,"info":""},{"id":"723d43cb.12062c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"872ecd7f.fbdd4","type":"websocket-listener","z":"","path":"/ws/settings","wholemsg":"false"},{"id":"ff44dbc3.a19468","type":"ui_group","z":"","name":"Cucina","tab":"9ba34d7c.b3b6","disp":true,"width":"6","collapse":false},{"id":"64de1b70.586694","type":"ui_tab","z":"","name":"Salone","icon":"dashboard","order":1},{"id":"6a3ad82c.cd0bd8","type":"ui_group","z":"","name":"Salone","tab":"64de1b70.586694","disp":true,"width":"6","collapse":false},{"id":"b97b3651.b18778","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Home Control","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":4,"py":4}}},{"id":"9ba34d7c.b3b6","type":"ui_tab","z":"","name":"Cucina","icon":"dashboard","order":2},{"id":"c28b152.0454ee8","type":"ui_group","z":"","name":"Comandi Vocali","tab":"3e2afe34.f70042","disp":true,"width":"12","collapse":false},{"id":"3e2afe34.f70042","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":3},{"id":"677edcce.79eb44","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1990","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"f4eef79b.cee028","type":"ui_group","z":"","name":"Devices","tab":"","order":2,"disp":true,"width":"18"},{"id":"ec12c04c.a6ea5","type":"ui_group","z":"723d43cb.12062c","name":"Default","tab":"","disp":true,"width":"6"},{"id":"2656b66a.b4aeea","type":"ui_group","z":0,"name":"Tables","tab":"825947d4.e45748","order":8,"disp":true,"width":"6"},{"id":"825947d4.e45748","type":"ui_tab","z":0,"name":"Angular UI templates","icon":"dashboard"},{"id":"2d817cd6.e285b4","type":"ui_text_input","z":"becf181d.f3ffc8","name":"","label":"Nome Comando","group":"c28b152.0454ee8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":220,"wires":[["251c58c2.a9fe58"]]},{"id":"251c58c2.a9fe58","type":"debug","z":"becf181d.f3ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"76bac1ab.4ad4d8","type":"inject","z":"8d8c8038.84b19","name":"off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["6871252b.37710c"]]},{"id":"51d2b126.7f41a8","type":"inject","z":"8d8c8038.84b19","name":"on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["eb74ef90.d868a8"]]},{"id":"ac2ca55f.00e26","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1180,"y":180,"wires":[]},{"id":"6871252b.37710c","type":"function","z":"8d8c8038.84b19","name":"on","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["a2c9880a.d57058","ac2ca55f.00e26"]]},{"id":"a2c9880a.d57058","type":"delay","z":"8d8c8038.84b19","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":20,"wires":[["544b4dee.e513f4"]]},{"id":"544b4dee.e513f4","type":"function","z":"8d8c8038.84b19","name":"off","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":60,"wires":[["ac2ca55f.00e26"]]},{"id":"8e992b9e.436438","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1160,"y":380,"wires":[]},{"id":"913f3d6c.66f71","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":1020,"y":380,"wires":[]},{"id":"50a1a8ac.6e9b18","type":"rpi-gpio out","z":"8d8c8038.84b19","name":"OUT37","pin":"37","set":"","level":"0","freq":"","out":"out","x":1180,"y":440,"wires":[]},{"id":"eb74ef90.d868a8","type":"trigger","z":"8d8c8038.84b19","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"2","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":770,"y":260,"wires":[["ac2ca55f.00e26"]]},{"id":"a8f24c4b.54412","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Lampadaio Salone","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":120,"wires":[["df893976.c82c78"]]},{"id":"df893976.c82c78","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":140,"wires":[["7b9237eb.2052f"]]},{"id":"7b9237eb.2052f","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":860,"y":120,"wires":[]},{"id":"199f546e.8795a4","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":2,"width":"0","height":"0","passthru":false,"label":"Faretti Tavolo 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":100,"wires":[["2fe7e6ca.9df4f2"]]},{"id":"2fe7e6ca.9df4f2","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":140,"wires":[["43ab1cdc.ffee04"]]},{"id":"43ab1cdc.ffee04","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":780,"y":180,"wires":[]},{"id":"77f789b9.43d2d","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":3,"width":"0","height":"0","passthru":false,"label":"Faretti Tavolo 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":260,"wires":[["c1442f3e.113478"]]},{"id":"c1442f3e.113478","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":300,"wires":[["6bdec535.2475dc","538c8638.57679"]]},{"id":"6bdec535.2475dc","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":960,"y":300,"wires":[]},{"id":"48f8d175.26be4","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":820,"y":400,"wires":[["6bdec535.2475dc"]]},{"id":"538c8638.57679","type":"delay","z":"375b6bc6.5dc324","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":420,"wires":[["48f8d175.26be4"]]},{"id":"6b850ba4.9a885c","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":4,"width":"0","height":"0","passthru":false,"label":"Faretti Parete Tavolo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":500,"wires":[["88ebac15.a949c"]]},{"id":"88ebac15.a949c","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":550,"y":540,"wires":[["fb00181b.6c905"]]},{"id":"fb00181b.6c905","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":800,"y":580,"wires":[]},{"id":"565acfa5.c97958","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Faretti Salone ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":340,"wires":[["b7cbce20.b7ca"]]},{"id":"b7cbce20.b7ca","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":570,"y":380,"wires":[["fb85c592.cf1738"]]},{"id":"fb85c592.cf1738","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":840,"y":380,"wires":[]},{"id":"fa4c8cf1.0923a8","type":"ui_button","z":"60c287f7.1e9c28","name":"","group":"6a3ad82c.cd0bd8","order":0,"width":"0","height":"0","passthru":false,"label":"Faretti TV ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":460,"wires":[["cf07fe43.c35"]]},{"id":"cf07fe43.c35","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":490,"y":500,"wires":[["ba9aeef6.64337","8c33f969.25f438"]]},{"id":"ba9aeef6.64337","type":"rpi-gpio out","z":"60c287f7.1e9c28","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":920,"y":500,"wires":[]},{"id":"cbc6a8be.c03c98","type":"trigger","z":"60c287f7.1e9c28","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":780,"y":600,"wires":[["ba9aeef6.64337"]]},{"id":"8c33f969.25f438","type":"delay","z":"60c287f7.1e9c28","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":620,"wires":[["cbc6a8be.c03c98"]]},{"id":"6351e084.6ad7d8","type":"ui_button","z":"375b6bc6.5dc324","name":"","group":"ff44dbc3.a19468","order":1,"width":"0","height":"0","passthru":false,"label":"Lampadaio Cucina","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":640,"wires":[["4b33e706.7835e"]]},{"id":"4b33e706.7835e","type":"trigger","z":"375b6bc6.5dc324","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"100","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":530,"y":700,"wires":[["1d99d411.70c7d4"]]},{"id":"1d99d411.70c7d4","type":"rpi-gpio out","z":"375b6bc6.5dc324","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":780,"y":740,"wires":[]},{"id":"80985918.6a3838","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":560,"wires":[["7c72d4c.9390b2c"]]},{"id":"27e2756b.14938a","type":"function","z":"8d8c8038.84b19","name":"","func":"var require = global.get('require');\n\nvar gpio = require('rpi-gpio');\n\ngpio.write(37, false, function(err) {\n        if (err) throw err;\n        console.log('Written to pin');\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["fd86df54.1132c"]]},{"id":"4f0ccb5e.f01084","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["27e2756b.14938a"]]},{"id":"3e1c136c.42c04c","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":240,"y":680,"wires":[[]]},{"id":"f62b275b.5f2248","type":"function","z":"8d8c8038.84b19","name":"","func":"console.log(\"Started\")\nvar require = global.get('require');\n\nvar gpio = require('rpi-gpio');\n \ngpio.setup(37, gpio.DIR_HIGH, null);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":740,"wires":[[]]},{"id":"fd86df54.1132c","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"7c72d4c.9390b2c","type":"function","z":"8d8c8038.84b19","name":"","func":"flow.set(\"pin\",37);\nmsg.payload=[37,msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["5a382660.63d158","2cabdf2e.ef7cb"]]},{"id":"cb9f7d95.096d7","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":640,"wires":[["7c72d4c.9390b2c"]]},{"id":"35520bbd.653fb4","type":"function","z":"8d8c8038.84b19","name":"","func":"msg.payload=[1,2]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":820,"wires":[["5a382660.63d158"]]},{"id":"5a382660.63d158","type":"debug","z":"8d8c8038.84b19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","x":1040,"y":740,"wires":[]},{"id":"4c948c0b.ed6c44","type":"inject","z":"8d8c8038.84b19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":860,"wires":[["35520bbd.653fb4"]]},{"id":"2cabdf2e.ef7cb","type":"mygpio-out","z":"8d8c8038.84b19","name":"","x":1110,"y":620,"wires":[]},{"id":"985cd721.588fa8","type":"websocket in","z":"2b2d4d83.51fdc2","name":"","server":"872ecd7f.fbdd4","client":"","x":310,"y":180,"wires":[["525507e.3ef54f8","28702404.552a4c"]]},{"id":"525507e.3ef54f8","type":"debug","z":"2b2d4d83.51fdc2","name":"Comando Vocale","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":340,"wires":[]},{"id":"65be49a9.c22288","type":"debug","z":"2b2d4d83.51fdc2","name":"Pin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":80,"wires":[]},{"id":"28702404.552a4c","type":"function","z":"2b2d4d83.51fdc2","name":"Selezione Pin","func":"switch(msg.payload.toLowerCase()){\n    case \"faretti salone\":{\n        msg.payload=13;\n        break;\n    }\n    case \"lampadaio salone\":{\n        msg.payload=31;\n        break;\n    }\n    case \"lampadaio salone\":{\n        msg.payload=31;\n        break;\n    }    \n    case \"faretti tavolo\":{\n        msg.payload=35;\n        break;\n    }    \n    case \"faretti parete tavolo\":{\n        msg.payload=37;\n        break;\n    }    \n    case \"lampadaio cucina\":{\n        msg.payload=11;\n        break;\n    }\n    \n    default:{\n        msg.payload=null;\n        break;\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["65be49a9.c22288","4253a572.3df7cc"]]},{"id":"464d94cb.b7124c","type":"inject","z":"2b2d4d83.51fdc2","name":"","topic":"","payload":"faretti salone","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["28702404.552a4c"]]},{"id":"4253a572.3df7cc","type":"function","z":"2b2d4d83.51fdc2","name":"on","func":"if(msg.payload !==null){\n    msg.payload=[msg.payload,0];\n    return msg;\n}","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["c7c134e6.5d5918","65be49a9.c22288","acc18b64.f12288"]]},{"id":"c7c134e6.5d5918","type":"delay","z":"2b2d4d83.51fdc2","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":240,"wires":[["3cc2f7ac.c43df8"]]},{"id":"3cc2f7ac.c43df8","type":"function","z":"2b2d4d83.51fdc2","name":"off","func":"if(msg.payload !==null){\n    msg.payload=[msg.payload[0],1];\n    return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":240,"wires":[["65be49a9.c22288","acc18b64.f12288"]]},{"id":"acc18b64.f12288","type":"mygpio-out","z":"2b2d4d83.51fdc2","name":"","x":1310,"y":140,"wires":[]},{"id":"84667e3d.8cf29","type":"status","z":"2b2d4d83.51fdc2","name":"","scope":null,"x":100,"y":60,"wires":[[]]},{"id":"276e0eae.7bf9d2","type":"file in","z":"becf181d.f3ffc8","name":"","filename":"/home/pi/Settings","format":"utf8","chunk":false,"sendError":false,"x":330,"y":360,"wires":[["3863f792.6e96b8"]]},{"id":"f15d8b96.5ebb88","type":"debug","z":"becf181d.f3ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":380,"wires":[]},{"id":"2914a787.301728","type":"inject","z":"becf181d.f3ffc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["276e0eae.7bf9d2"]]},{"id":"9135ffc1.3c212","type":"file","z":"becf181d.f3ffc8","name":"","filename":"/home/pi/Settings","appendNewline":false,"createDir":false,"overwriteFile":"true","x":590,"y":280,"wires":[[]]},{"id":"4f2ccf94.a975e","type":"ui_template","z":"becf181d.f3ffc8","group":"c28b152.0454ee8","name":"","order":0,"width":"8","height":"10","format":"\n<script>\n        ;(function(scope) {\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            console.log('- Scope.msg -')\n            console.dir(scope.msg)\n//visto che la send scatena questo watchdog allora controllo se e' stato inviato dalla send o dal server\n            try{\n                if(scope.msg.type==\"input\"){\n                    scope.rele=scope.msg.payload.rele;\n                }\n//se si genera un errore lo aggiorno la send va in pasto al file.\n            }catch(err){\n                scope.send(\"\");\n            }\n        })\n\n        scope.click = function(b) {\n            this.send(b)\n        }\n    })(scope)\n         \n</script>\n<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n\n<div>\n     <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n  <div class=\"container\" ng-app=\"sortApp\">\n\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Index\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'name'; sortReverse = !sortReverse\">\n            Name \n            <span ng-show=\"sortType == 'name' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'name' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n\t\t\tPin\n        </td>\n        <td>\n            Description\n        </td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"user in rele | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = user;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"user.name\"></td>\n               <td ng-bind=\"user.pin\"></td>\n               <td ng-bind=\"user.description\"></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n</body></html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":740,"y":360,"wires":[["f15d8b96.5ebb88","b53f9603.91e8f8","276e0eae.7bf9d2"]]},{"id":"3606664.967709a","type":"inject","z":"becf181d.f3ffc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":280,"wires":[["9135ffc1.3c212"]]},{"id":"a513aa29.84c5b8","type":"json","z":"becf181d.f3ffc8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":600,"wires":[[]]},{"id":"b53f9603.91e8f8","type":"debug","z":"becf181d.f3ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":120,"wires":[]},{"id":"6048d815.b8f3c8","type":"function","z":"becf181d.f3ffc8","name":"","func":"msg.payload=[{to:\"dd\",age:\"3\"},{to:\"dd1\",age:\"3\"}];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["b53f9603.91e8f8"]]},{"id":"8e857e02.3f791","type":"inject","z":"becf181d.f3ffc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["6048d815.b8f3c8"]]},{"id":"3863f792.6e96b8","type":"function","z":"becf181d.f3ffc8","name":"","func":"msg.payload=JSON.parse(msg.payload);\nmsg.type=\"input\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["b53f9603.91e8f8","4f2ccf94.a975e","73bf431a.ae0f7c"]]},{"id":"b03786b2.5a56f8","type":"inject","z":"becf181d.f3ffc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":520,"wires":[["4f2ccf94.a975e"]]},{"id":"60a53395.7aadec","type":"comment","z":"becf181d.f3ffc8","name":"Flow ","info":"Flow that send a settings ","x":110,"y":60,"wires":[]},{"id":"f31c4fa4.69e01","type":"mqtt in","z":"723d43cb.12062c","name":"","topic":"/devices/mongoose/events","qos":"2","broker":"677edcce.79eb44","x":420,"y":240,"wires":[["9f07182d.98e2c8"]]},{"id":"6a7805c0.68ffac","type":"mqtt out","z":"723d43cb.12062c","name":"","topic":"/devices/mongoose/command","qos":"","retain":"","broker":"677edcce.79eb44","x":780,"y":620,"wires":[]},{"id":"8a19b7b3.70b6e8","type":"inject","z":"723d43cb.12062c","name":"","topic":"","payload":"ON2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":600,"wires":[["6a7805c0.68ffac","5ee3699b.908708"]]},{"id":"9f07182d.98e2c8","type":"debug","z":"723d43cb.12062c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":200,"wires":[]},{"id":"5ee3699b.908708","type":"mqtt out","z":"723d43cb.12062c","name":"","topic":"/devices/mongoose/events","qos":"","retain":"","broker":"677edcce.79eb44","x":950,"y":540,"wires":[]},{"id":"bd7a2a8a.b8a29","type":"inject","z":"723d43cb.12062c","name":"","topic":"","payload":"OFF2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":420,"wires":[["6a7805c0.68ffac"]]},{"id":"d8f76997.53d4f8","type":"websocket in","z":"becf181d.f3ffc8","name":"","server":"872ecd7f.fbdd4","client":"","x":120,"y":300,"wires":[["276e0eae.7bf9d2"]]},{"id":"73bf431a.ae0f7c","type":"websocket out","z":"becf181d.f3ffc8","name":"","server":"872ecd7f.fbdd4","client":"","x":900,"y":500,"wires":[]},{"id":"3c663040.2c4bd","type":"ui_template","z":"becf181d.f3ffc8","group":"2656b66a.b4aeea","name":"Search Sortable Table","order":1,"width":"6","height":"5","format":"<style>\n\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n    \n.animate-enter, \n.animate-leave\n{ \n    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;\n    position: relative;\n    display: block;\n} \n\n.animate-enter.animate-enter-active, \n.animate-leave {\n    opacity: 1;\n    top: 0;\n    height: 30px;\n}\n\n.animate-leave.animate-leave-active,\n.animate-enter {\n    opacity: 0;\n    top: -50px;\n    height: 0px;\n}\n    \n.container\n{\n    max-height: 450px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n</style>\n\n<div>\n     <form>\n      <span class=\"input-group\">\n          <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n      </span>      \n  </form>\n  <div class=\"container\" ng-app=\"sortApp\">\n\n      <table>\n        <thead>\n        <tr style=\"width:100%\">\n            <td>\n          <a href=\"#\">\n            Index\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'firstname'; sortReverse = !sortReverse\">\n            First Name \n            <span ng-show=\"sortType == 'firstname' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'firstname' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = 'lastname'; sortReverse = !sortReverse\">\n          Last Name \n            <span ng-show=\"sortType == 'lastname' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == 'lastname' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n        <td>\n          <a href=\"#\" ng-click=\"sortType = '(age -0)'; sortReverse = !sortReverse\">\n            Age\n            <span ng-show=\"sortType == '(age -0)' && !sortReverse\" class=\"fa fa-caret-down\"></span>\n            <span ng-show=\"sortType == '(age -0)' && sortReverse\" class=\"fa fa-caret-up\"></span>\n          </a>\n        </td>\n\n          </tr>\n          </thead>\n          <tbody>\n        <tr ng-repeat=\"user in msg.options | orderBy:sortType:sortReverse | filter:search track by $index\" ng-click=\"msg.payload = user;send(msg);\" style=\"width:100%\" flex>\n                <td><b ng-bind=\"$index+1\"></b></td>\n               <td ng-bind=\"user.firstname\"></td>\n               <td ng-bind=\"user.lastname\"></td>\n               <td ng-bind=\"user.age\"></td>\n         </tr>\n        </tbody>\n      </table>\n\n</div>\n</div>\n</body></html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":560,"y":600,"wires":[["3aa38095.2fa3"]]},{"id":"3f70f308.99b5dc","type":"inject","z":"becf181d.f3ffc8","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":560,"wires":[["62c83a38.1f1394"]]},{"id":"3aa38095.2fa3","type":"debug","z":"becf181d.f3ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":560,"wires":[]},{"id":"62c83a38.1f1394","type":"change","z":"becf181d.f3ffc8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"[{\"firstname\":\"Paul\",\"lastname\":\"Doe\",\"age\":24},{\"firstname\":\"Greg\",\"lastname\":\"Jones\",\"age\":31},{\"firstname\":\"Able\",\"lastname\":\"Smith\",\"age\":29}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":560,"wires":[["3c663040.2c4bd","3aa38095.2fa3"]]}]